

/* ===== ESTILOS BÁSICOS ===== */

body {
	font-family: Arial;
	color: #000;
	font-size: 12px;
	min-width: 1000px;
}

a, a:active, a:hover, a:link, a:visited {	
	color: #000;
}

#header {
	height: 80px;
	width: 100%;
	min-width: 750px;
	border-top: solid 5px #709e69;
	border-bottom: solid 1px #709e69;
	color: #666;
}

#nav {
	height: 20px;
	background-color: #b3d3ae;
	border-bottom: solid 1px #709e69;
}

#main {
	z-index:10;
}

#section.sect {
	width: 900px;
}

#section{
	width: 80%;	
	min-width: 850px;
	max-height: 600px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	padding: 10px;
	background-color: #b3d3ae;
	behavior: url(PIE.htc);
	border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	box-shadow: 0 3px 5px #999;
	-moz-box-shadow: 0 3px 5px #999;
	-webkit-box-shadow: 0 3px 5px #999;
}

#sec{
	width: 80%;	
	min-width: 800px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	padding: 10px;
	background-color: #b3d3ae;
	behavior: url(PIE.htc);
	border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	box-shadow: 0 3px 5px #999;
	-moz-box-shadow: 0 3px 5px #999;
	-webkit-box-shadow: 0 3px 5px #999;
}

.clear {
	font-size: 1px;
	clear: both;
	height:1px;
}


/* ===== TAMANHOS E ALINHAMENTOS ===== */

.esq {
	float: left;
	clear: right;
}
.esq1{
	float:right;
	
	
}

#section.largo {
	width: 98%;
}

#section.max {
	width: 70%;
	min-width: 700px;
}

#section.meio {
	width: 50%;
	min-width: 500px;
}

#section.mid {
	width: 50%;
	min-width: 700px;
}

.meio {
	width: 50%
}

.minmeio {
	width: 98%;
	margin: 0 auto;
}

#section.quarto {
	width: 25%;
	min-width: 250px;
}

#section.qua {
	width: 25%;
	min-width: 350px;
}

.quarto {
	width: 25%;
}

.terca {
	width: 33.33%;
}

#section.duplo {
	width: 35%;
	min-width: 375px;
}

.duplo {
	width: 35%;
}

#section.min {
	width: 20%;
}

#section.small {
	width: 15%;
	min-width: 210px;
}

.min {
	width: 15%;
}
.min1 {
	width: 35%;
}
.min-cabecalho{
	width :9%;
}

.tdir {
	text-align: right;
}

.dir {
	float: right;
}

.botao.direi {
	float: right;
	margin-right: -2px;
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
}

.bbusca.direi {
	float: right;
	margin-right: -2px;
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
}

.centro {
	text-align: center;
}

.nomargin {
	margin-top: -5px;
	margin-right: -5px;
	margin-left: -5px;
	margin-bottom: -5px;
}

.botao.margins {
	margin-top: 5px;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
}

.botao.top {
	margin-top: 1px;
	margin-right: 2px;
}

.bdesab.top {
	margin-top: 1px;
	margin-right: 2px;
}

.bdesab.margins {
	margin-top: 5px;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
}

.mcentro {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margint-right: auto;
}

.nofloat {
	float: none;
}

.largo {
	width: 100%;
	box-sizing: border-box;
}

.nopadding {
	padding-left: 0;
	padding-right: 1px;
}


/* ===== CABEÇALHO ===== */

.fundo {
	background-image: url(../img/boomerang.png);
	background-repeat: no-repeat;
	background-position: bottom left;
}

.interno {
	margin: 20px;
}

.top {
	margin-top: 20px;
}

.altura {
	height: 75px;
}

.oculto {
	display: none;
}

label .error {
	font-style: italic;
}


/* ===== MENU ===== */

.menu {
	margin: 0 auto;
	height: 20px;
	width: 900px;
	display: block;
	padding: 0px;
	z-index: 100;
}

.menu li {
	width: 150px;
	line-height: 20px;
	font-weight: bold;
	float: left;
	text-align: center;
}

.menu li a {
	height: 20px;
	display: block;
}

.menu li a:hover {
	background-color: #91ba8b;
}

.menu li ul {
	display: none;
	width: 150px; 
	margin: 0px;
	padding: 0px;
	position: absolute;
}

.menu li ul li {
	width: 100%;
	background-color: #b3d3ae;
	border-left: solid 1px #709e69;
	border-right: solid 1px #709e69;
	border-bottom: solid 1px #709e69;
	font-weight: normal;
	text-align: left;
}

.menu li ul li a {
	border: none;
	line-height: 20px;
	margin: 0; 
	padding: 0;
	text-indent: 3px;
}

.menu li.current > a { 
	background-color: #91ba8b; 
}

.menu li:hover > ul.child { 
	display: block; 
}


/* ===== CORPO ===== */

.wrapper {
	width: 100%;
	min-width: 1000px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: auto;
	margin-left: auto;
}

.titulo {
	height: 15px;
}

.corpo {
	padding: 1px 5px 5px 5px;
	background-color: #fff;
	behavior: url(PIE.htc);
	box-shadow: 0 3px 5px #999;
	-moz-box-shadow: 0 3px 5px #999;
	-webkit-box-shadow: 0 3px 5px #999;
}

fieldset {
	overflow: visible;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	border: 2px solid #c4cccc;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}

.cont {
	max-height: 320px;
	overflow: auto;
	margin-top: 5px;
}

fieldset#interno {
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	border: 2px solid #c4cccc;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}

fieldset legend {
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	font-size: 13px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 5px;
}

.busca {
	overflow:visible;
}

#busca, #busca2 {
	overflow: auto;
}

#tit_rej, #ins_rej, #previsao, #atraso {
	overflow: hidden;
}

.acao {
	display: block;
	float: right;
	margin: 3px 5px 0 0;
	width: 261px;
	height: 22px;
}

#acao {
	width: 150px;
}

.divtitulo, .divtitulo2 {
	width: 100%;
	text-align: center;
	font-weight: bold;
	border-bottom: solid 1px #709e69;
	margin-bottom: 5px;
}

.btitulos {
	width: 100%;
}


/* ===== FORMS ===== */

form {
	padding: 1px 5px 5px 5px;
}

input, select {
	margin-bottom: 5px;
}

input[type=text] {
	text-transform: uppercase;
}

#busca label {
	text-transform: none;
}

#busca input#nome {
	width: 100%;
}

input[readonly=readonly]{
	background-color: #f5f5f5;
	padding: 2px;
	border: solid 1px #999;
}

textarea {
	resize:  none;
}

/* ===== TABELAS ===== */

table {
	font-size: 12px;
	width: 100%;
}

td {
	padding: 2px;
	font-weight: normal;
	text-align: left;
	text-transform: none;
}

tr.destaque, td.destaque {
	font-weight: bold;
	font-size: 11px;
}

.destaque {
	font-weight: bold;
}

table.espec tr {
	margin-bottom: 5px;
}

.cinza {
	background-color: #ccc;
	padding: 2px;
}

.borda {
	border: solid 1px #999;
}


/* ===== TÍTULOS E TEXTO ===== */

h2 {
	text-transform:uppercase;
	padding: 0 0 5px 0;
	font-size: 15px;
	font-weight: bold;
	width: 100%;
	text-align: left;
}

h3 {
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 10px;
}

fieldset p {
	font-weight: bold;
	font-size: 13px;
	text-transform: uppercase;
}

a.abrir {
	font-weight: bold;
	text-decoration: underline;
}

.special {
	text-align: center;
	line-height: 50px;
}

.titulo h2 {
	width: 80%;
	float: left;
}

#busca table {
	font-size: 11px;
}


/* ===== BOTÕES ===== */

.sair {
	width: 16px;
	height: 16px;
	background: url(../img/fechar.png);
	display: block;
	float: right;
}

.botao{
	min-width: 75px;
	height: 22px;
	background-color: #f5f5f5;
	border: none;
	margin-top: -5px;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	cursor: pointer;
	padding-left: 5px;
	padding-right: 5px;
	line-height: 22px;
	behavior: url(PIE.htc);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 1px 1px 0 #5e6162, -1px -1px 0 #b7babc;
	-moz-box-shadow: 1px 1px 0 #5e6162, -1px -1px 0 #b7babc;
	-webkit-box-shadow: 1px 1px 0 #5e6162, -1px -1px 0 #b7babc;
}

.button {
	width: 223px;
	height: 22px;
	display: block;
	background-color: #f5f5f5;
	border: none;
	text-align: center;
	text-transform: none;
	margin-top: 10px;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	font-weight: bold;
	font-size: 12px;
	line-height: 22px;
	behavior: url(PIE.htc);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 1px 1px 0 #5e6162, -1px -1px 0 #b7babc;
	-moz-box-shadow: 1px 1px 0 #5e6162, -1px -1px 0 #b7babc;
	-webkit-box-shadow: 1px 1px 0 #5e6162, -1px -1px 0 #b7babc;
}

.bbusca {
	width: 22px;
	height: 22px;
	display: inline-block;
	background-color: #f5f5f5;
	border: none;
	background-image: url(../img/busca.gif);
	background-position: center center;
	background-repeat: no-repeat;
	font-size: 18px;
	text-align: center;
	text-transform: none;
	margin: 0 5px -7px 5px;
	font-weight: bold;
	cursor: pointer;
	line-height: 22px;
	behavior: url(PIE.htc);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 1px 1px 0 #5e6162, -1px -1px 0 #b7babc;
	-moz-box-shadow: 1px 1px 0 #5e6162, -1px -1px 0 #b7babc;
	-webkit-box-shadow: 1px 1px 0 #5e6162, -1px -1px 0 #b7babc;
}

.botao.linha {
	width: 72px;
	display: inline-block;
}

.botao:hover, .button:hover, .bbusca:hover{
	background-color: #eee;
	behavior: url(PIE.htc);
	box-shadow: 1px 1px 0 #b7babc, -1px -1px 0 #5e6162;
	-moz-box-shadow: 1px 1px 0 #b7babc, -1px -1px 0 #5e6162;
	-webkit-box-shadow: 1px 1px 0 #b7babc, -1px -1px 0 #5e6162;
}

.bdesab, a.bdesab {
	width: 75px;
	height: 22px;
	background-color: #f5f5f5;
	border: none;
	text-align: center;	
	display: inline-block;
	color: #b7babc;
	margin-top: -5px;
	font-weight: bold;
	font-size: 12px;
	padding-left: 5px;
	padding-right: 5px;
	line-height: 22px;
	behavior: url(PIE.htc);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 1px 1px 0 #5e6162, -1px -1px 0 #b7babc;
	-moz-box-shadow: 1px 1px 0 #5e6162, -1px -1px 0 #b7babc;
	-webkit-box-shadow: 1px 1px 0 #5e6162, -1px -1px 0 #b7babc;
}

.bdes {
	width: 223px;
	height: 22px;
	display: block;
	background-color: #f5f5f5;
	border: none;
	color: #b7babc;
	text-align: center;
	text-transform: none;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	font-weight: bold;
	font-size: 12px;
	line-height: 22px;
	behavior: url(PIE.htc);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: -1px -1px 0 #b7babc;
	-moz-box-shadow: -1px -1px 0 #b7babc;
	-webkit-box-shadow: -1px -1px 0 #b7babc;
}


/* ===== TIP ===== */

.tip {
	color: #000;
	background:#b3d3ae;
	display:none;
	padding:5px;
	text-transform: none;
	position:absolute;
	z-index:1000;
	behavior: url(PIE.htc);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 1px 1px 3px #CCC;
	-moz-box-shadow: 1px 1px 3px #CCC;
	-webkit-box-shadow: 1px 1px 3px #CCC;
}


/* ===== SHADOWBOX ===== */

#message {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
}

#message_content {
    width: auto;
    height: auto;
    background-color: #fff;
    box-shadow: 1px 1px 1px 1px;
    border-radius: 5px;
}

#load {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
}

#load_content {
    width: auto;
    height: auto;
    background-color: #fff;
    box-shadow: 1px 1px 1px 1px;
    border-radius: 5px;
}

/* ===== NAVEGAÇÃO PRINCIPAL ===== */

.nav1 {
	width: 100%;
	height: 25px;
}

ul.principal {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

ul.principal li {
	margin-right: 3px;
	padding: 5px;
	background: #fff;
	float: left;
	behavior: url(PIE.htc);
	border-radius: 8px 8px 0 0;
}

#upload {
	height: 30px;
	width: 150px;
	line-height: 30px;
	margin: 10px auto;
}