.alinha {
	text-align: center;
}

.ie {
	margin-top: 10px;
}

.corpo {
	padding: 5px;
	background-color: #fff;
	behavior: url(PIE.htc);
	box-shadow: 0 3px 5px #999;
}

.base {
	behavior: url(PIE.htc);
	box-shadow: 0 3px 5px #999;
}

.base2 {
	behavior: url(PIE.htc);
	box-shadow: 0 3px 5px #fff;
}

fieldset {
	margin: 0px;
	border: none;
}

.btn {
	background: #ccc;
}

#message {
	background-color: transparent;
	background-image: url(../img/bg.png);
	background-repeat: repeat;
}