/* CSS Document */

body{
	background-color:#8EDC78;
}

.erro{
	color:red;
	font-weight:bold;
}

.texto_ao_centro{
	text-align: center;
}

tr.error_even td, tr.error_even th {
    background-color: #fe9797;
}

tr.error_odd td, tr.error_odd th {
    background-color: #fecbcb;
}

tr.valid_even td, tr.valid_even th {
    background-color: #B4CDB4;
}
  
tr.valid_odd td, tr.valid_odd th {
    background-color: #CCDDCC;
}

.cabecalho{
	background-color: #DDDDCC;
}

#div_arquivo{
	background-color:#91CC5B;
	margin: 0 auto;
	margin-top: 5px;

	height:auto;
	width:500px;
	
	text-align: left;
	padding-left:10px;
	
	border-radius: 0.5em;
	border-style: solid ;
	border-width:2px;
	border-color:#000;
	
}

#div_login{
	background-color:#91CC5B;

	margin: 0 auto;
	margin-top: 5px;

	height:auto;
	width:300px;
	
	text-align: left;
	padding-left:10px;
	padding-top:5px;
	padding-bottom:5px;
	
	border-radius: 0.5em;
	border-style: solid ;
	border-width:2px;
	border-color:#000;
	
}

#div_tabela_informacoes{
	margin-top: 5px;

	height:auto;
	width:auto;
}

#tabela{
	border-radius: 0.5em;
	border-style: solid ;
	border-width:2px;
	border-color:#000;
	
	margin:auto;

}

#logo_sisacob{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#botao_sair{
	margin-right:20%;
	margin-top:-50px;
	float:right;
}