.fundo{
	border:0px;
	color:black;
	display:block;
	position:absolute;
	width:100%;
	height:5000px;
	left:0%;
	top:0%;
	padding: 0px;
	z-index:0px;
	background-image:url("../images/fundo.png");
}

.td_fundo{
	border:0px;
	color:black;
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	left:0%;
	top:0%;
	padding: 0px;
	z-index:0px;
	background-image:url("../images/fundo.png");
}
.processando{
	border:1px solid green;
	color:black;
	display:block;
	position:absolute;
	top: 55%;
	left: 41%;
	width:230px;
	height:40px;
	background-image:url("../images/fnd_transparente.gif");
}
.div_altera_tit{
	border:1px solid green;
	color:black;
	display:block;
	position:absolute;
	top: 20%;
	left: 20%;
	width:800px;
	height:400px;
	background-image:url("../images/fnd_transparente.gif");
}

.fimProcesso{
	display:none;
}

.cabecalho_tabela_dinamica{
	border-color: green; 
	font-size: 10px; 
	font-weight: bold; 
	background-color: #999999; 
	color: white;
	text-align:center;
}

.conteudo_tabela_dinamica{
	font-family:verdana;
	font-size:10px;
}

.td_tabela_dinamica{
	border-left: 1px solid #DADADA; 
	border-bottom: 1px solid #DADADA;
}

.tr_cor{
	background-color: red;
}